
.card {
  background-color: white;
  width: 500px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 12px; /* rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* shadow */

  text-align: left;
}

/* task list  */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 300px;
  padding: 10px;
  margin: 8px 0;

  border: 1px solid #ccc;
  border-radius: 6px;

  background-color: white;
}

.task span {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
