body{
    background-color: seagreen;
    text-align: center;
}
 
input{
    height: 30px;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    
}
button{
    background-color: brown;
    margin:40px;
    padding: 10px;
    font-size: 20px;
}