body {
    background-color: blue;
}

header {
    background-color: antiquewhite;
    color: blue;
}

footer {
    background-color: antiquewhite;
    color: blue;
    padding: 10px;
    text-align: center;
}

.input-div {
    padding: 4px;
    margin: 5px;
    background-color: antiquewhite;
}