body {
      background-color: #6a4cff;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
 

    .card {
      background: white;
      padding: 30px;
      width: 320px;
      border-radius: 10px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

    h2 {
      text-align: center;
      color: #6a4cff;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
      color: #444;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border-radius: 6px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
      background-color: #6a4cff;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background-color: #5538e0;
    }

    #errorMessage {
      margin-top: 10px;
      font-size: 14px;
    }
  